spring:
  application:
    name: DEFAULT-CONFIG
eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defailtZone: http://localhost:8761/eureka
